body {
    border: none;
    margin: 0;
    padding: 0;
    background: firebrick;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
    font-family: Georgia, serif;
}

a:link {
    color: purple;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: mediumpurple;
    text-decoration: none;
}

a:active {
    color: peachpuff;
    text-decoration: none;
}

a.wine-select:link {
    color: darkred;
    text-decoration: none;
}

a.wine-select:visited {
    color: darkred;
    text-decoration: none;
}

a.wine-select:hover {
    color: purple;
    text-decoration: none;
    border: rebeccapurple 1px dashed;
}

a.wine-select:active {
    color: darkred;
    text-decoration: none;
}

.wine-select {
    display: inline-block;
    text-align: center;
    border: black 1px solid;
    padding: 4px;
    margin: 4px 10px;
    font-size: 3em;
}

.inline-block {
    display: inline-block;
}

.wine-form {
    background: darkred;
    border-style: solid;
    border-color: black;
    border-width: 1px 2px;
    display: inline-block;
}

.wine-form td {
    padding: 2px 5px;
}

.wine-form th {
    border-bottom: 1px dashed black;
    padding: 2px 0 4px 0;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.max-width {
    width: 100%;
}

.wine-char {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 2px;
}

.submit-btn {
    padding: 2px;
    margin: 4px 0;
}

.con-choice {
    border-style: dotted;
    border-color: black;
    border-width: 0 1px;
}

.white-bb {
    border-bottom: 1px solid black;
}

.wine-table {

}

.index-title {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
    margin-bottom: 2px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0)
}

.relative-pos {
    position: relative;
    text-align: center;
}