/* BEGIN MY CSS */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: firebrick;
}

header {
    /*height: 7em;*/
    background: darkslategrey;
    display: block;
    /*padding: .5em;*/
    /*border: 2px solid yellow;*/
}

footer {
    display: block;
    /*height: 20px;*/
    padding: 5px;
    /*background-color: darkorchid;*/
    text-align: center;
}

.wine-area {
    text-align: center;
    margin: 10px;
}

.wine-form {
    background: darkred;
    width: 100%;
    max-width: 800px;
    border: solid black 2px;
    display: inline-block;
    margin: 10px;
}

form.wine-form table {
    max-width: 100%;
    font-size: 1em;
    /*position: relative;*/
    /*width: 90%;*/
    /*border-top: 1px solid black;*/
    border-bottom: 1px solid black;
    padding: 5px 2px;
}

.wine-form td {
    padding: 5px;
    /*margin: 20px;*/
    /*font-size: 1.3em;*/
}

.wine-form th {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px dashed black;
    padding: 5px;
}

.wine-form table {
    width: 100%;
    /*position: relative;*/
}

.wine-char {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 2px;
}

h1 {
    text-align: center;
    font-size: 5em;
    padding: 5px;
}

.wine-area h2 {
    font-size: 2.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}

a:link {
    color: purple;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: mediumpurple;
    text-decoration: none;
}

a:active {
    color: peachpuff;
    text-decoration: none;
}

a.wine-select:link {
    color: darkred;
    text-decoration: none;
}

a.wine-select:visited {
    color: darkred;
    text-decoration: none;
}

a.wine-select:hover {
    color: purple;
    text-decoration: none;
    border: rebeccapurple 1px dashed;
}

a.wine-select:active {
    color: darkred;
    text-decoration: none;
}

.index-title {
    text-align: center;
    /*display: block;*/
    /*margin: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index-title h2 {
    display: inline-block;
    text-align: center;
    font-size: 5em;
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border: 2px solid green;
}

.wine-select {
    display: inline-block;
    text-align: center;
    /*border: black 1px solid;*/
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 5em;
}

/*.inline-block {*/
    /*display: inline-block;*/
/*}*/


.dashed-border {
    border-bottom: 1px dashed black;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.center {
    position: relative;
    text-align: center;
}


.left {
    text-align: left;
}

.max-width {
    width: 100%;
}

.submit-btn {
    padding: 2px;
    margin: 4px 0;
}

/*.con-choice {*/
    /*border-style: dotted;*/
    /*border-color: black;*/
    /*border-width: 0 1px;*/
/*}*/

.white-bb {
    border-bottom: 1px solid black;
}
